<div class="container-fluid">
    <div class="mx-auto card container-fluid">
        <div class="m-4 d-flex flex-column">
            <div class="balance">
                <h3 class="text-center balance__title fw-semibold">
                  This is the Cat data base
                </h3>
          
                <div class="row">
                    <section class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                      <app-cat-table-filters></app-cat-table-filters>
                    </section>
                 
                  </div>
                 
          
              
              </div>
            
        </div>
      </div>
    
  </div>
  
